@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #EDEDED;
  font-family: 'Maven Pro', sans-serif;
  touch-action: manipulation;
  color: black;
}

:ul{
  list-style: none;
}

:a{
  text-decoration: none;
  color: black;
}

.list-department{
  @apply w-full h-12 flex  justify-center items-center hover:bg-black hover:text-white;
}